Repository blitzy-public-samples/mint-mobile-app-fq9nqt, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-leads, @backend-team, @ios-team, @android-team, @web-team, @devops-team, @qa-team, @docs-team, @security-team

Add public-samples/mint-mobile-app-fq9nqt/src/ios/MintReplicaLite/Resources/Assets.xcassets/AppIcon.appiconset/Contents.json
  src/ios/MintReplicaLite/Resources/Assets.xcassets/AppIcon.appiconset/Contents.json
Owners: @ios-team

Add public-samples/mint-mobile-app-fq9nqt/src/ios/MintReplicaLite/Resources/Colors.xcassets/Contents.json
  src/ios/MintReplicaLite/Resources/Colors.xcassets/Contents.json
Owners: @ios-team

Add public-samples/mint-mobile-app-fq9nqt/src/ios/MintReplicaLiteTests/AccountTests.swift
  src/ios/MintReplicaLiteTests/AccountTests.swift
Owners: @ios-team

Add public-samples/mint-mobile-app-fq9nqt/src/ios/MintReplicaLiteTests/AuthTests.swift
  src/ios/MintReplicaLiteTests/AuthTests.swift
Owners: @ios-team

Add public-samples/mint-mobile-app-fq9nqt/src/ios/MintReplicaLiteTests/BudgetTests.swift
  src/ios/MintReplicaLiteTests/BudgetTests.swift
Owners: @ios-team

Add public-samples/mint-mobile-app-fq9nqt/src/ios/MintReplicaLiteTests/GoalTests.swift
  src/ios/MintReplicaLiteTests/GoalTests.swift
Owners: @ios-team

Add public-samples/mint-mobile-app-fq9nqt/src/ios/MintReplicaLiteTests/InvestmentTests.swift
  src/ios/MintReplicaLiteTests/InvestmentTests.swift
Owners: @ios-team

Add public-samples/mint-mobile-app-fq9nqt/src/ios/MintReplicaLiteTests/TransactionTests.swift
  src/ios/MintReplicaLiteTests/TransactionTests.swift
Owners: @ios-team

Add public-samples/mint-mobile-app-fq9nqt/src/ios/MintReplicaLiteTests/UtilsTests.swift
  src/ios/MintReplicaLiteTests/UtilsTests.swift
Owners: @ios-team

Add public-samples/mint-mobile-app-fq9nqt/src/ios/MintReplicaLiteUITests/MintReplicaLiteUITests.swift
  src/ios/MintReplicaLiteUITests/MintReplicaLiteUITests.swift
Owners: @ios-team

Add public-samples/mint-mobile-app-fq9nqt/src/ios/MintReplicaLiteUITests/MintReplicaLiteUITestsLaunchTests.swift
  src/ios/MintReplicaLiteUITests/MintReplicaLiteUITestsLaunchTests.swift
Owners: @ios-team

Add public-samples/mint-mobile-app-fq9nqt/src/ios/fastlane/Appfile
  src/ios/fastlane/Appfile
Owners: @ios-team

Add public-samples/mint-mobile-app-fq9nqt/src/ios/fastlane/Fastfile
  src/ios/fastlane/Fastfile
Owners: @ios-team

Add public-samples/mint-mobile-app-fq9nqt/src/ios/fastlane/Matchfile
  src/ios/fastlane/Matchfile
Owners: @ios-team

Add public-samples/mint-mobile-app-fq9nqt/src/test/.env.test
  src/test/.env.test
Owners: @qa-team

Add public-samples/mint-mobile-app-fq9nqt/src/test/.gitignore
  src/test/.gitignore
Owners: @qa-team

Add public-samples/mint-mobile-app-fq9nqt/src/test/README.md
  src/test/README.md
Owners: @docs-team

Add public-samples/mint-mobile-app-fq9nqt/src/test/jest.config.js
  src/test/jest.config.js
Owners: @qa-team

Add public-samples/mint-mobile-app-fq9nqt/src/test/package.json
  src/test/package.json
Owners: @qa-team

Add public-samples/mint-mobile-app-fq9nqt/src/test/tsconfig.json
  src/test/tsconfig.json
Owners: @qa-team

Add public-samples/mint-mobile-app-fq9nqt/src/test/accessibility/mobile/android/color-contrast.test.ts
  src/test/accessibility/mobile/android/color-contrast.test.ts
Owners: @qa-team

Add public-samples/mint-mobile-app-fq9nqt/src/test/accessibility/mobile/android/screen-reader.test.ts
  src/test/accessibility/mobile/android/screen-reader.test.ts
Owners: @qa-team

Add public-samples/mint-mobile-app-fq9nqt/src/test/accessibility/mobile/ios/color-contrast.test.ts
  src/test/accessibility/mobile/ios/color-contrast.test.ts
Owners: @qa-team

Add public-samples/mint-mobile-app-fq9nqt/src/test/accessibility/mobile/ios/voiceover.test.ts
  src/test/accessibility/mobile/ios/voiceover.test.ts
Owners: @qa-team

Add public-samples/mint-mobile-app-fq9nqt/src/test/ci/github-actions-test.yml
  src/test/ci/github-actions-test.yml
Owners: @qa-team

Add public-samples/mint-mobile-app-fq9nqt/src/test/contracts/api/account-contract.test.ts
  src/test/contracts/api/account-contract.test.ts
Owners: @qa-team

Add public-samples/mint-mobile-app-fq9nqt/src/test/contracts/api/auth-contract.test.ts
  src/test/contracts/api/auth-contract.test.ts
Owners: @qa-team

Add public-samples/mint-mobile-app-fq9nqt/src/test/contracts/api/budget-contract.test.ts
  src/test/contracts/api/budget-contract.test.ts
Owners: @qa-team

Add public-samples/mint-mobile-app-fq9nqt/src/test/contracts/api/goal-contract.test.ts
  src/test/contracts/api/goal-contract.test.ts
Owners: @qa-team

Add public-samples/mint-mobile-app-fq9nqt/src/test/contracts/api/investment-contract.test.ts
  src/test/contracts/api/investment-contract.test.ts
Owners: @qa-team

Add public-samples/mint-mobile-app-fq9nqt/src/test/contracts/api/notification-contract.test.ts
  src/test/contracts/api/notification-contract.test.ts
Owners: @qa-team

Add public-samples/mint-mobile-app-fq9nqt/src/test/contracts/api/transaction-contract.test.ts
  src/test/contracts/api/transaction-contract.test.ts
Owners: @qa-team

Add public-samples/mint-mobile-app-fq9nqt/src/test/contracts/mobile/api-contract.test.ts
  src/test/contracts/mobile/api-contract.test.ts
Owners: @qa-team

Add public-samples/mint-mobile-app-fq9nqt/src/test/docker/Dockerfile.test
  src/test/docker/Dockerfile.test
Owners: @qa-team

Add public-samples/mint-mobile-app-fq9nqt/src/test/docker/docker-compose.test.yml
  src/test/docker/docker-compose.test.yml
Owners: @qa-team

Add public-samples/mint-mobile-app-fq9nqt/src/test/e2e/api/account-endpoints.test.ts
  src/test/e2e/api/account-endpoints.test.ts
Owners: @qa-team

Add public-samples/mint-mobile-app-fq9nqt/src/test/e2e/api/auth-endpoints.test.ts
  src/test/e2e/api/auth-endpoints.test.ts
Owners: @qa-team

Add public-samples/mint-mobile-app-fq9nqt/src/test/e2e/api/budget-endpoints.test.ts
  src/test/e2e/api/budget-endpoints.test.ts
Owners: @qa-team

Add public-samples/mint-mobile-app-fq9nqt/src/test/e2e/api/goal-endpoints.test.ts
  src/test/e2e/api/goal-endpoints.test.ts
Owners: @qa-team

Add public-samples/mint-mobile-app-fq9nqt/src/test/e2e/api/investment-endpoints.test.ts
  src/test/e2e/api/investment-endpoints.test.ts
Owners: @qa-team

.github/CODEOWNERS:

# Human Tasks:
# 1. Verify that all team groups (@project-leads, @backend-team, etc.) are properly configured in GitHub
# 2. Ensure all team members are assigned to their appropriate teams in GitHub
# 3. Review and adjust code ownership rules if team structures change
# 4. Configure branch protection rules to enforce code owner reviews

# Default owners for everything in the repo
# Requirement: Security Architecture - Implements identity and access management controls
# Requirement: Development Standards - Enforces code review standards
* @project-leads

# Backend source code ownership
/src/backend/** @backend-team

# iOS app source code ownership 
/src/ios/** @ios-team

# Android app source code ownership
/src/android/** @android-team

# Web app source code ownership
/src/web/** @web-team

# Infrastructure and DevOps ownership
/infrastructure/** @devops-team

# Test files ownership
/src/**/test/** @qa-team

# Documentation ownership
*.md @docs-team

# Security-related code ownership
/src/**/security/** @security-team

# GitHub configuration files ownership
/.github/** @devops-team @security-team

# The CODEOWNERS file itself requires both DevOps and Security approval
/.github/CODEOWNERS @devops-team @security-team
