Repository blitzy-public-samples/mint-mobile-app-fq9nqt, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-leads, @backend-team, @ios-team, @android-team, @web-team, @devops-team, @qa-team, @docs-team, @security-team

.github/CODEOWNERS:

# Human Tasks:
# 1. Verify that all team groups (@project-leads, @backend-team, etc.) are properly configured in GitHub
# 2. Ensure all team members are assigned to their appropriate teams in GitHub
# 3. Review and adjust code ownership rules if team structures change
# 4. Configure branch protection rules to enforce code owner reviews

# Default owners for everything in the repo
# Requirement: Security Architecture - Implements identity and access management controls
# Requirement: Development Standards - Enforces code review standards
* @project-leads

# Backend source code ownership
/src/backend/** @backend-team

# iOS app source code ownership 
/src/ios/** @ios-team

# Android app source code ownership
/src/android/** @android-team

# Web app source code ownership
/src/web/** @web-team

# Infrastructure and DevOps ownership
/infrastructure/** @devops-team

# Test files ownership
/src/**/test/** @qa-team

# Documentation ownership
*.md @docs-team

# Security-related code ownership
/src/**/security/** @security-team

# GitHub configuration files ownership
/.github/** @devops-team @security-team

# The CODEOWNERS file itself requires both DevOps and Security approval
/.github/CODEOWNERS @devops-team @security-team

Add public-samples/mint-mobile-app-fq9nqt/src/backend/src/modules/sync/sync.module.ts
  src/backend/src/modules/sync/sync.module.ts
Owners: @backend-team

Add public-samples/mint-mobile-app-fq9nqt/src/backend/src/modules/sync/sync.service.ts
  src/backend/src/modules/sync/sync.service.ts
Owners: @backend-team

Add public-samples/mint-mobile-app-fq9nqt/src/backend/src/modules/sync/dto/sync-request.dto.ts
  src/backend/src/modules/sync/dto/sync-request.dto.ts
Owners: @backend-team

Add public-samples/mint-mobile-app-fq9nqt/src/backend/src/modules/transactions/transactions.controller.ts
  src/backend/src/modules/transactions/transactions.controller.ts
Owners: @backend-team

Add public-samples/mint-mobile-app-fq9nqt/src/backend/src/modules/transactions/transactions.module.ts
  src/backend/src/modules/transactions/transactions.module.ts
Owners: @backend-team

Add public-samples/mint-mobile-app-fq9nqt/src/backend/src/modules/transactions/transactions.service.ts
  src/backend/src/modules/transactions/transactions.service.ts
Owners: @backend-team

Add public-samples/mint-mobile-app-fq9nqt/src/backend/src/modules/transactions/dto/create-transaction.dto.ts
  src/backend/src/modules/transactions/dto/create-transaction.dto.ts
Owners: @backend-team

Add public-samples/mint-mobile-app-fq9nqt/src/backend/src/modules/transactions/dto/update-transaction.dto.ts
  src/backend/src/modules/transactions/dto/update-transaction.dto.ts
Owners: @backend-team

Add public-samples/mint-mobile-app-fq9nqt/src/backend/src/modules/transactions/entities/transaction.entity.ts
  src/backend/src/modules/transactions/entities/transaction.entity.ts
Owners: @backend-team

Add public-samples/mint-mobile-app-fq9nqt/src/backend/src/modules/users/users.controller.ts
  src/backend/src/modules/users/users.controller.ts
Owners: @backend-team

Add public-samples/mint-mobile-app-fq9nqt/src/backend/src/modules/users/users.module.ts
  src/backend/src/modules/users/users.module.ts
Owners: @backend-team

Add public-samples/mint-mobile-app-fq9nqt/src/backend/src/modules/users/users.service.ts
  src/backend/src/modules/users/users.service.ts
Owners: @backend-team

Add public-samples/mint-mobile-app-fq9nqt/src/backend/src/modules/users/dto/create-user.dto.ts
  src/backend/src/modules/users/dto/create-user.dto.ts
Owners: @backend-team

Add public-samples/mint-mobile-app-fq9nqt/src/backend/src/modules/users/dto/update-user.dto.ts
  src/backend/src/modules/users/dto/update-user.dto.ts
Owners: @backend-team

Add public-samples/mint-mobile-app-fq9nqt/src/backend/src/modules/users/entities/user.entity.ts
  src/backend/src/modules/users/entities/user.entity.ts
Owners: @backend-team

Add public-samples/mint-mobile-app-fq9nqt/src/backend/src/queue/queue.module.ts
  src/backend/src/queue/queue.module.ts
Owners: @backend-team

Add public-samples/mint-mobile-app-fq9nqt/src/backend/src/queue/queue.service.ts
  src/backend/src/queue/queue.service.ts
Owners: @backend-team

Add public-samples/mint-mobile-app-fq9nqt/src/backend/src/queue/processors/notification.processor.ts
  src/backend/src/queue/processors/notification.processor.ts
Owners: @backend-team

Add public-samples/mint-mobile-app-fq9nqt/src/backend/src/queue/processors/sync.processor.ts
  src/backend/src/queue/processors/sync.processor.ts
Owners: @backend-team

Add public-samples/mint-mobile-app-fq9nqt/src/backend/test/accounts.e2e-spec.ts
  src/backend/test/accounts.e2e-spec.ts
Owners: @qa-team

Add public-samples/mint-mobile-app-fq9nqt/src/backend/test/analytics.e2e-spec.ts
  src/backend/test/analytics.e2e-spec.ts
Owners: @qa-team

Add public-samples/mint-mobile-app-fq9nqt/src/backend/test/app.e2e-spec.ts
  src/backend/test/app.e2e-spec.ts
Owners: @qa-team

Add public-samples/mint-mobile-app-fq9nqt/src/backend/test/auth.e2e-spec.ts
  src/backend/test/auth.e2e-spec.ts
Owners: @qa-team

Add public-samples/mint-mobile-app-fq9nqt/src/backend/test/budgets.e2e-spec.ts
  src/backend/test/budgets.e2e-spec.ts
Owners: @qa-team

Add public-samples/mint-mobile-app-fq9nqt/src/backend/test/goals.e2e-spec.ts
  src/backend/test/goals.e2e-spec.ts
Owners: @qa-team

Add public-samples/mint-mobile-app-fq9nqt/src/backend/test/investments.e2e-spec.ts
  src/backend/test/investments.e2e-spec.ts
Owners: @qa-team

Add public-samples/mint-mobile-app-fq9nqt/src/backend/test/jest-e2e.json
  src/backend/test/jest-e2e.json
Owners: @qa-team

Add public-samples/mint-mobile-app-fq9nqt/src/backend/test/notifications.e2e-spec.ts
  src/backend/test/notifications.e2e-spec.ts
Owners: @qa-team

Add public-samples/mint-mobile-app-fq9nqt/src/backend/test/plaid.e2e-spec.ts
  src/backend/test/plaid.e2e-spec.ts
Owners: @qa-team

Add public-samples/mint-mobile-app-fq9nqt/src/backend/test/sync.e2e-spec.ts
  src/backend/test/sync.e2e-spec.ts
Owners: @qa-team

Add public-samples/mint-mobile-app-fq9nqt/src/backend/test/transactions.e2e-spec.ts
  src/backend/test/transactions.e2e-spec.ts
Owners: @qa-team

Add public-samples/mint-mobile-app-fq9nqt/src/backend/test/users.e2e-spec.ts
  src/backend/test/users.e2e-spec.ts
Owners: @qa-team

Add public-samples/mint-mobile-app-fq9nqt/src/ios/.gitignore
  src/ios/.gitignore
Owners: @ios-team

Add public-samples/mint-mobile-app-fq9nqt/src/ios/Podfile
  src/ios/Podfile
Owners: @ios-team

Add public-samples/mint-mobile-app-fq9nqt/src/ios/Podfile.lock
  src/ios/Podfile.lock
Owners: @ios-team

Add public-samples/mint-mobile-app-fq9nqt/src/ios/README.md
  src/ios/README.md
Owners: @docs-team

Add public-samples/mint-mobile-app-fq9nqt/src/ios/swiftgen.yml
  src/ios/swiftgen.yml
Owners: @ios-team

Add public-samples/mint-mobile-app-fq9nqt/src/ios/swiftlint.yml
  src/ios/swiftlint.yml
Owners: @ios-team

Add public-samples/mint-mobile-app-fq9nqt/src/ios/MintReplicaLite.xcodeproj/project.pbxproj
  src/ios/MintReplicaLite.xcodeproj/project.pbxproj
Owners: @ios-team

Add public-samples/mint-mobile-app-fq9nqt/src/ios/MintReplicaLite.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  src/ios/MintReplicaLite.xcodeproj/project.xcworkspace/contents.xcworkspacedata
Owners: @ios-team
