Repository blitzy-public-samples/mint-mobile-app-fq9nqt, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-leads, @backend-team, @ios-team, @android-team, @web-team, @devops-team, @qa-team, @docs-team, @security-team

Add public-samples/mint-mobile-app-fq9nqt/src/android/app/src/main/java/com/mintreplica/lite/ui/screens/goals/GoalsScreen.kt
  src/android/app/src/main/java/com/mintreplica/lite/ui/screens/goals/GoalsScreen.kt
Owners: @android-team

Add public-samples/mint-mobile-app-fq9nqt/src/android/app/src/main/java/com/mintreplica/lite/ui/screens/goals/GoalsViewModel.kt
  src/android/app/src/main/java/com/mintreplica/lite/ui/screens/goals/GoalsViewModel.kt
Owners: @android-team

Add public-samples/mint-mobile-app-fq9nqt/src/android/app/src/main/java/com/mintreplica/lite/ui/screens/investments/InvestmentDetailScreen.kt
  src/android/app/src/main/java/com/mintreplica/lite/ui/screens/investments/InvestmentDetailScreen.kt
Owners: @android-team

Add public-samples/mint-mobile-app-fq9nqt/src/android/app/src/main/java/com/mintreplica/lite/ui/screens/investments/InvestmentsScreen.kt
  src/android/app/src/main/java/com/mintreplica/lite/ui/screens/investments/InvestmentsScreen.kt
Owners: @android-team

Add public-samples/mint-mobile-app-fq9nqt/src/android/app/src/main/java/com/mintreplica/lite/ui/screens/investments/InvestmentsViewModel.kt
  src/android/app/src/main/java/com/mintreplica/lite/ui/screens/investments/InvestmentsViewModel.kt
Owners: @android-team

Add public-samples/mint-mobile-app-fq9nqt/src/android/app/src/main/java/com/mintreplica/lite/ui/theme/Color.kt
  src/android/app/src/main/java/com/mintreplica/lite/ui/theme/Color.kt
Owners: @android-team

Add public-samples/mint-mobile-app-fq9nqt/src/android/app/src/main/java/com/mintreplica/lite/ui/theme/Shape.kt
  src/android/app/src/main/java/com/mintreplica/lite/ui/theme/Shape.kt
Owners: @android-team

Add public-samples/mint-mobile-app-fq9nqt/src/android/app/src/main/java/com/mintreplica/lite/ui/theme/Theme.kt
  src/android/app/src/main/java/com/mintreplica/lite/ui/theme/Theme.kt
Owners: @android-team

Add public-samples/mint-mobile-app-fq9nqt/src/android/app/src/main/java/com/mintreplica/lite/ui/theme/Type.kt
  src/android/app/src/main/java/com/mintreplica/lite/ui/theme/Type.kt
Owners: @android-team

Add public-samples/mint-mobile-app-fq9nqt/src/android/app/src/main/java/com/mintreplica/lite/utils/BiometricUtils.kt
  src/android/app/src/main/java/com/mintreplica/lite/utils/BiometricUtils.kt
Owners: @android-team

Add public-samples/mint-mobile-app-fq9nqt/src/android/app/src/main/java/com/mintreplica/lite/utils/CurrencyFormatter.kt
  src/android/app/src/main/java/com/mintreplica/lite/utils/CurrencyFormatter.kt
Owners: @android-team

Add public-samples/mint-mobile-app-fq9nqt/src/android/app/src/main/java/com/mintreplica/lite/utils/DateUtils.kt
  src/android/app/src/main/java/com/mintreplica/lite/utils/DateUtils.kt
Owners: @android-team

Add public-samples/mint-mobile-app-fq9nqt/src/android/app/src/main/java/com/mintreplica/lite/utils/NetworkUtils.kt
  src/android/app/src/main/java/com/mintreplica/lite/utils/NetworkUtils.kt
Owners: @android-team

Add public-samples/mint-mobile-app-fq9nqt/src/android/app/src/main/java/com/mintreplica/lite/utils/SecurityUtils.kt
  src/android/app/src/main/java/com/mintreplica/lite/utils/SecurityUtils.kt
Owners: @android-team

Add public-samples/mint-mobile-app-fq9nqt/src/android/app/src/main/res/drawable/ic_launcher_background.xml
  src/android/app/src/main/res/drawable/ic_launcher_background.xml
Owners: @android-team

Add public-samples/mint-mobile-app-fq9nqt/src/android/app/src/main/res/drawable/ic_launcher_foreground.xml
  src/android/app/src/main/res/drawable/ic_launcher_foreground.xml
Owners: @android-team

Add public-samples/mint-mobile-app-fq9nqt/src/android/app/src/main/res/mipmap-anydpi-v26/ic_launcher.xml
  src/android/app/src/main/res/mipmap-anydpi-v26/ic_launcher.xml
Owners: @android-team

Add public-samples/mint-mobile-app-fq9nqt/src/android/app/src/main/res/mipmap-anydpi-v26/ic_launcher_round.xml
  src/android/app/src/main/res/mipmap-anydpi-v26/ic_launcher_round.xml
Owners: @android-team

Add public-samples/mint-mobile-app-fq9nqt/src/android/app/src/main/res/values-night/themes.xml
  src/android/app/src/main/res/values-night/themes.xml
Owners: @android-team

Add public-samples/mint-mobile-app-fq9nqt/src/android/app/src/main/res/values/colors.xml
  src/android/app/src/main/res/values/colors.xml
Owners: @android-team

Add public-samples/mint-mobile-app-fq9nqt/src/android/app/src/main/res/values/strings.xml
  src/android/app/src/main/res/values/strings.xml
Owners: @android-team

Add public-samples/mint-mobile-app-fq9nqt/src/android/app/src/main/res/values/themes.xml
  src/android/app/src/main/res/values/themes.xml
Owners: @android-team

Add public-samples/mint-mobile-app-fq9nqt/src/android/app/src/test/java/com/mintreplica/lite/ExampleUnitTest.kt
  src/android/app/src/test/java/com/mintreplica/lite/ExampleUnitTest.kt
Owners: @qa-team

Add public-samples/mint-mobile-app-fq9nqt/src/android/gradle/wrapper/gradle-wrapper.jar
  src/android/gradle/wrapper/gradle-wrapper.jar
Owners: @android-team

Add public-samples/mint-mobile-app-fq9nqt/src/android/gradle/wrapper/gradle-wrapper.properties
  src/android/gradle/wrapper/gradle-wrapper.properties
Owners: @android-team

Add public-samples/mint-mobile-app-fq9nqt/src/backend/.env.example
  src/backend/.env.example
Owners: @backend-team

Add public-samples/mint-mobile-app-fq9nqt/src/backend/.eslintrc.js
  src/backend/.eslintrc.js
Owners: @backend-team

Add public-samples/mint-mobile-app-fq9nqt/src/backend/.gitignore
  src/backend/.gitignore
Owners: @backend-team

Add public-samples/mint-mobile-app-fq9nqt/src/backend/.prettierrc
  src/backend/.prettierrc
Owners: @backend-team

Add public-samples/mint-mobile-app-fq9nqt/src/backend/README.md
  src/backend/README.md
Owners: @docs-team

Add public-samples/mint-mobile-app-fq9nqt/src/backend/docker-compose.yml
  src/backend/docker-compose.yml
Owners: @backend-team

Add public-samples/mint-mobile-app-fq9nqt/src/backend/jest.config.js
  src/backend/jest.config.js
Owners: @backend-team

Add public-samples/mint-mobile-app-fq9nqt/src/backend/nest-cli.json
  src/backend/nest-cli.json
Owners: @backend-team

Add public-samples/mint-mobile-app-fq9nqt/src/backend/package.json
  src/backend/package.json
Owners: @backend-team

Add public-samples/mint-mobile-app-fq9nqt/src/backend/tsconfig.json
  src/backend/tsconfig.json
Owners: @backend-team

Add public-samples/mint-mobile-app-fq9nqt/src/backend/docs/api.md
  src/backend/docs/api.md
Owners: @docs-team

Add public-samples/mint-mobile-app-fq9nqt/src/backend/docs/architecture.md
  src/backend/docs/architecture.md
Owners: @docs-team

Add public-samples/mint-mobile-app-fq9nqt/src/backend/docs/deployment.md
  src/backend/docs/deployment.md
Owners: @docs-team

Add public-samples/mint-mobile-app-fq9nqt/src/backend/docs/development.md
  src/backend/docs/development.md
Owners: @docs-team

Add public-samples/mint-mobile-app-fq9nqt/src/backend/kubernetes/configmap.yaml
  src/backend/kubernetes/configmap.yaml
Owners: @backend-team

.github/CODEOWNERS:

# Human Tasks:
# 1. Verify that all team groups (@project-leads, @backend-team, etc.) are properly configured in GitHub
# 2. Ensure all team members are assigned to their appropriate teams in GitHub
# 3. Review and adjust code ownership rules if team structures change
# 4. Configure branch protection rules to enforce code owner reviews

# Default owners for everything in the repo
# Requirement: Security Architecture - Implements identity and access management controls
# Requirement: Development Standards - Enforces code review standards
* @project-leads

# Backend source code ownership
/src/backend/** @backend-team

# iOS app source code ownership 
/src/ios/** @ios-team

# Android app source code ownership
/src/android/** @android-team

# Web app source code ownership
/src/web/** @web-team

# Infrastructure and DevOps ownership
/infrastructure/** @devops-team

# Test files ownership
/src/**/test/** @qa-team

# Documentation ownership
*.md @docs-team

# Security-related code ownership
/src/**/security/** @security-team

# GitHub configuration files ownership
/.github/** @devops-team @security-team

# The CODEOWNERS file itself requires both DevOps and Security approval
/.github/CODEOWNERS @devops-team @security-team
