Repository blitzy-public-samples/mint-mobile-app-fq9nqt, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-leads, @backend-team, @ios-team, @android-team, @web-team, @devops-team, @qa-team, @docs-team, @security-team

.github/CODEOWNERS:

# Human Tasks:
# 1. Verify that all team groups (@project-leads, @backend-team, etc.) are properly configured in GitHub
# 2. Ensure all team members are assigned to their appropriate teams in GitHub
# 3. Review and adjust code ownership rules if team structures change
# 4. Configure branch protection rules to enforce code owner reviews

# Default owners for everything in the repo
# Requirement: Security Architecture - Implements identity and access management controls
# Requirement: Development Standards - Enforces code review standards
* @project-leads

# Backend source code ownership
/src/backend/** @backend-team

# iOS app source code ownership 
/src/ios/** @ios-team

# Android app source code ownership
/src/android/** @android-team

# Web app source code ownership
/src/web/** @web-team

# Infrastructure and DevOps ownership
/infrastructure/** @devops-team

# Test files ownership
/src/**/test/** @qa-team

# Documentation ownership
*.md @docs-team

# Security-related code ownership
/src/**/security/** @security-team

# GitHub configuration files ownership
/.github/** @devops-team @security-team

# The CODEOWNERS file itself requires both DevOps and Security approval
/.github/CODEOWNERS @devops-team @security-team

Add public-samples/mint-mobile-app-fq9nqt/src/test/performance/stress/concurrent-users.test.ts
  src/test/performance/stress/concurrent-users.test.ts
Owners: @qa-team

Add public-samples/mint-mobile-app-fq9nqt/src/test/performance/stress/data-sync-stress.test.ts
  src/test/performance/stress/data-sync-stress.test.ts
Owners: @qa-team

Add public-samples/mint-mobile-app-fq9nqt/src/test/performance/stress/notification-stress.test.ts
  src/test/performance/stress/notification-stress.test.ts
Owners: @qa-team

Add public-samples/mint-mobile-app-fq9nqt/src/test/reports/test-report-generator.ts
  src/test/reports/test-report-generator.ts
Owners: @qa-team

Add public-samples/mint-mobile-app-fq9nqt/src/test/reports/templates/performance-report.html
  src/test/reports/templates/performance-report.html
Owners: @qa-team

Add public-samples/mint-mobile-app-fq9nqt/src/test/reports/templates/security-report.html
  src/test/reports/templates/security-report.html
Owners: @qa-team

Add public-samples/mint-mobile-app-fq9nqt/src/test/reports/templates/test-report.html
  src/test/reports/templates/test-report.html
Owners: @qa-team

Add public-samples/mint-mobile-app-fq9nqt/src/test/security/api/input-validation.test.ts
  src/test/security/api/input-validation.test.ts
Owners: @security-team

Add public-samples/mint-mobile-app-fq9nqt/src/test/security/api/rate-limiting.test.ts
  src/test/security/api/rate-limiting.test.ts
Owners: @security-team

Add public-samples/mint-mobile-app-fq9nqt/src/test/security/auth/password-security.test.ts
  src/test/security/auth/password-security.test.ts
Owners: @security-team

Add public-samples/mint-mobile-app-fq9nqt/src/test/security/auth/token-security.test.ts
  src/test/security/auth/token-security.test.ts
Owners: @security-team

Add public-samples/mint-mobile-app-fq9nqt/src/test/security/data/encryption.test.ts
  src/test/security/data/encryption.test.ts
Owners: @security-team

Add public-samples/mint-mobile-app-fq9nqt/src/test/security/mobile/biometric-auth.test.ts
  src/test/security/mobile/biometric-auth.test.ts
Owners: @security-team

Add public-samples/mint-mobile-app-fq9nqt/src/test/security/mobile/secure-storage.test.ts
  src/test/security/mobile/secure-storage.test.ts
Owners: @security-team

Add public-samples/mint-mobile-app-fq9nqt/src/test/setup/global-setup.ts
  src/test/setup/global-setup.ts
Owners: @qa-team

Add public-samples/mint-mobile-app-fq9nqt/src/test/setup/test-database.ts
  src/test/setup/test-database.ts
Owners: @qa-team

Add public-samples/mint-mobile-app-fq9nqt/src/test/setup/test-environment.ts
  src/test/setup/test-environment.ts
Owners: @qa-team

Add public-samples/mint-mobile-app-fq9nqt/src/test/setup/test-redis.ts
  src/test/setup/test-redis.ts
Owners: @qa-team

Add public-samples/mint-mobile-app-fq9nqt/src/test/utils/api-client.ts
  src/test/utils/api-client.ts
Owners: @qa-team

Add public-samples/mint-mobile-app-fq9nqt/src/test/utils/auth-helper.ts
  src/test/utils/auth-helper.ts
Owners: @qa-team

Add public-samples/mint-mobile-app-fq9nqt/src/test/utils/db-helper.ts
  src/test/utils/db-helper.ts
Owners: @qa-team

Add public-samples/mint-mobile-app-fq9nqt/src/test/utils/mock-data.ts
  src/test/utils/mock-data.ts
Owners: @qa-team

Add public-samples/mint-mobile-app-fq9nqt/src/test/utils/test-helpers.ts
  src/test/utils/test-helpers.ts
Owners: @qa-team

Add public-samples/mint-mobile-app-fq9nqt/src/test/utils/test-logger.ts
  src/test/utils/test-logger.ts
Owners: @qa-team

Add public-samples/mint-mobile-app-fq9nqt/src/web/.env.example
  src/web/.env.example
Owners: @web-team

Add public-samples/mint-mobile-app-fq9nqt/src/web/.eslintrc.js
  src/web/.eslintrc.js
Owners: @web-team

Add public-samples/mint-mobile-app-fq9nqt/src/web/.gitignore
  src/web/.gitignore
Owners: @web-team

Add public-samples/mint-mobile-app-fq9nqt/src/web/.prettierrc
  src/web/.prettierrc
Owners: @web-team

Add public-samples/mint-mobile-app-fq9nqt/src/web/README.md
  src/web/README.md
Owners: @docs-team

Add public-samples/mint-mobile-app-fq9nqt/src/web/index.html
  src/web/index.html
Owners: @web-team

Add public-samples/mint-mobile-app-fq9nqt/src/web/jest.config.js
  src/web/jest.config.js
Owners: @web-team

Add public-samples/mint-mobile-app-fq9nqt/src/web/package.json
  src/web/package.json
Owners: @web-team

Add public-samples/mint-mobile-app-fq9nqt/src/web/tsconfig.json
  src/web/tsconfig.json
Owners: @web-team

Add public-samples/mint-mobile-app-fq9nqt/src/web/vite.config.ts
  src/web/vite.config.ts
Owners: @web-team

Add public-samples/mint-mobile-app-fq9nqt/src/web/public/favicon.ico
  src/web/public/favicon.ico
Owners: @web-team

Add public-samples/mint-mobile-app-fq9nqt/src/web/public/manifest.json
  src/web/public/manifest.json
Owners: @web-team

Add public-samples/mint-mobile-app-fq9nqt/src/web/public/robots.txt
  src/web/public/robots.txt
Owners: @web-team

Add public-samples/mint-mobile-app-fq9nqt/src/web/src/App.tsx
  src/web/src/App.tsx
Owners: @web-team

Add public-samples/mint-mobile-app-fq9nqt/src/web/src/main.tsx
  src/web/src/main.tsx
Owners: @web-team

Add public-samples/mint-mobile-app-fq9nqt/src/web/src/vite-env.d.ts
  src/web/src/vite-env.d.ts
Owners: @web-team
