Repository blitzy-public-samples/mint-mobile-app-fq9nqt, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-leads, @backend-team, @ios-team, @android-team, @web-team, @devops-team, @qa-team, @docs-team, @security-team

Add public-samples/mint-mobile-app-fq9nqt/.github/pull_request_template.md
  .github/pull_request_template.md
Owners: @devops-team, @security-team

Add public-samples/mint-mobile-app-fq9nqt/.github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.md
Owners: @devops-team, @security-team

Add public-samples/mint-mobile-app-fq9nqt/.github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
Owners: @devops-team, @security-team

Add public-samples/mint-mobile-app-fq9nqt/.github/workflows/android.yml
  .github/workflows/android.yml
Owners: @devops-team, @security-team

Add public-samples/mint-mobile-app-fq9nqt/.github/workflows/backend.yml
  .github/workflows/backend.yml
Owners: @devops-team, @security-team

Add public-samples/mint-mobile-app-fq9nqt/.github/workflows/ios.yml
  .github/workflows/ios.yml
Owners: @devops-team, @security-team

Add public-samples/mint-mobile-app-fq9nqt/.github/workflows/test.yml
  .github/workflows/test.yml
Owners: @devops-team, @security-team

Add public-samples/mint-mobile-app-fq9nqt/.github/workflows/web.yml
  .github/workflows/web.yml
Owners: @devops-team, @security-team

Add public-samples/mint-mobile-app-fq9nqt/documentation/Input Prompt.md
  documentation/Input Prompt.md
Owners: @docs-team

Add public-samples/mint-mobile-app-fq9nqt/documentation/Project Guide.md
  documentation/Project Guide.md
Owners: @docs-team

Add public-samples/mint-mobile-app-fq9nqt/documentation/Software Requirements Specifications (SRS).json
  documentation/Software Requirements Specifications (SRS).json
Owners: @project-leads

Add public-samples/mint-mobile-app-fq9nqt/documentation/Software Requirements Specifications (SRS).md
  documentation/Software Requirements Specifications (SRS).md
Owners: @docs-team

Add public-samples/mint-mobile-app-fq9nqt/documentation/Technical Specifications.md
  documentation/Technical Specifications.md
Owners: @docs-team

Add public-samples/mint-mobile-app-fq9nqt/infrastructure/aws/cdk/package.json
  infrastructure/aws/cdk/package.json
Owners: @devops-team

Add public-samples/mint-mobile-app-fq9nqt/infrastructure/aws/cdk/tsconfig.json
  infrastructure/aws/cdk/tsconfig.json
Owners: @devops-team

Add public-samples/mint-mobile-app-fq9nqt/infrastructure/aws/cdk/bin/app.ts
  infrastructure/aws/cdk/bin/app.ts
Owners: @devops-team

Add public-samples/mint-mobile-app-fq9nqt/infrastructure/aws/cdk/lib/api-stack.ts
  infrastructure/aws/cdk/lib/api-stack.ts
Owners: @devops-team

Add public-samples/mint-mobile-app-fq9nqt/infrastructure/aws/cdk/lib/database-stack.ts
  infrastructure/aws/cdk/lib/database-stack.ts
Owners: @devops-team

Add public-samples/mint-mobile-app-fq9nqt/infrastructure/aws/cdk/lib/monitoring-stack.ts
  infrastructure/aws/cdk/lib/monitoring-stack.ts
Owners: @devops-team

Add public-samples/mint-mobile-app-fq9nqt/infrastructure/aws/cdk/lib/network-stack.ts
  infrastructure/aws/cdk/lib/network-stack.ts
Owners: @devops-team

Add public-samples/mint-mobile-app-fq9nqt/infrastructure/aws/cdk/lib/security-stack.ts
  infrastructure/aws/cdk/lib/security-stack.ts
Owners: @devops-team

Add public-samples/mint-mobile-app-fq9nqt/infrastructure/aws/cdk/lib/storage-stack.ts
  infrastructure/aws/cdk/lib/storage-stack.ts
Owners: @devops-team

Add public-samples/mint-mobile-app-fq9nqt/infrastructure/aws/cloudformation/api-gateway.yml
  infrastructure/aws/cloudformation/api-gateway.yml
Owners: @devops-team

Add public-samples/mint-mobile-app-fq9nqt/infrastructure/aws/cloudformation/eks-cluster.yml
  infrastructure/aws/cloudformation/eks-cluster.yml
Owners: @devops-team

Add public-samples/mint-mobile-app-fq9nqt/infrastructure/aws/cloudformation/rds-aurora.yml
  infrastructure/aws/cloudformation/rds-aurora.yml
Owners: @devops-team

Add public-samples/mint-mobile-app-fq9nqt/infrastructure/aws/cloudformation/vpc.yml
  infrastructure/aws/cloudformation/vpc.yml
Owners: @devops-team

Add public-samples/mint-mobile-app-fq9nqt/infrastructure/aws/cloudformation/waf.yml
  infrastructure/aws/cloudformation/waf.yml
Owners: @devops-team

Add public-samples/mint-mobile-app-fq9nqt/infrastructure/config/alertmanager.yml
  infrastructure/config/alertmanager.yml
Owners: @devops-team

Add public-samples/mint-mobile-app-fq9nqt/infrastructure/config/filebeat.yml
  infrastructure/config/filebeat.yml
Owners: @devops-team

Add public-samples/mint-mobile-app-fq9nqt/infrastructure/config/grafana.ini
  infrastructure/config/grafana.ini
Owners: @devops-team

Add public-samples/mint-mobile-app-fq9nqt/infrastructure/config/logstash.conf
  infrastructure/config/logstash.conf
Owners: @devops-team

Add public-samples/mint-mobile-app-fq9nqt/infrastructure/config/nginx.conf
  infrastructure/config/nginx.conf
Owners: @devops-team

Add public-samples/mint-mobile-app-fq9nqt/infrastructure/config/prometheus.yml
  infrastructure/config/prometheus.yml
Owners: @devops-team

Add public-samples/mint-mobile-app-fq9nqt/infrastructure/docker/api.Dockerfile
  infrastructure/docker/api.Dockerfile
Owners: @devops-team

Add public-samples/mint-mobile-app-fq9nqt/infrastructure/docker/monitoring.Dockerfile
  infrastructure/docker/monitoring.Dockerfile
Owners: @devops-team

Add public-samples/mint-mobile-app-fq9nqt/infrastructure/docker/web.Dockerfile
  infrastructure/docker/web.Dockerfile
Owners: @devops-team

Add public-samples/mint-mobile-app-fq9nqt/infrastructure/kubernetes/base/namespace.yaml
  infrastructure/kubernetes/base/namespace.yaml
Owners: @devops-team

Add public-samples/mint-mobile-app-fq9nqt/infrastructure/kubernetes/base/networkpolicy.yaml
  infrastructure/kubernetes/base/networkpolicy.yaml
Owners: @devops-team

Add public-samples/mint-mobile-app-fq9nqt/infrastructure/kubernetes/base/resourcequota.yaml
  infrastructure/kubernetes/base/resourcequota.yaml
Owners: @devops-team

Add public-samples/mint-mobile-app-fq9nqt/infrastructure/kubernetes/monitoring/alertmanager.yaml
  infrastructure/kubernetes/monitoring/alertmanager.yaml
Owners: @devops-team

.github/CODEOWNERS:

# Human Tasks:
# 1. Verify that all team groups (@project-leads, @backend-team, etc.) are properly configured in GitHub
# 2. Ensure all team members are assigned to their appropriate teams in GitHub
# 3. Review and adjust code ownership rules if team structures change
# 4. Configure branch protection rules to enforce code owner reviews

# Default owners for everything in the repo
# Requirement: Security Architecture - Implements identity and access management controls
# Requirement: Development Standards - Enforces code review standards
* @project-leads

# Backend source code ownership
/src/backend/** @backend-team

# iOS app source code ownership 
/src/ios/** @ios-team

# Android app source code ownership
/src/android/** @android-team

# Web app source code ownership
/src/web/** @web-team

# Infrastructure and DevOps ownership
/infrastructure/** @devops-team

# Test files ownership
/src/**/test/** @qa-team

# Documentation ownership
*.md @docs-team

# Security-related code ownership
/src/**/security/** @security-team

# GitHub configuration files ownership
/.github/** @devops-team @security-team

# The CODEOWNERS file itself requires both DevOps and Security approval
/.github/CODEOWNERS @devops-team @security-team
